<div class="login-container">
  <div class="login-box">
    <h2 *ngIf="step === 1">Login</h2>
    <h2 *ngIf="step === 2">Enter PIN</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocomplete="off">

      <!-- Step 1: Username & Password -->
      <div *ngIf="step === 1">
        <!-- Username -->
        <input
          type="text"
          formControlName="loginName"
          placeholder="Username"
          autocomplete="new-username"
        />
        <div *ngIf="loginForm.get('loginName')?.invalid && loginForm.get('loginName')?.touched">
          <small *ngIf="loginForm.get('loginName')?.errors?.['required']">Username is required</small>
        </div>

        <!-- Password -->
        <input
          type="password"
          formControlName="password"
          placeholder="Password"
          autocomplete="new-password"
        />
        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
          <small *ngIf="loginForm.get('password')?.errors?.['required']">Password is required</small>
          <small *ngIf="loginForm.get('password')?.errors?.['minlength']">Minimum 8 characters required</small>
        </div>

        <!-- Submit Button -->
       <button
  type="submit"
  [disabled]="submitting || loginForm.get('loginName')?.invalid || loginForm.get('password')?.invalid">
  <span *ngIf="!submitting">Login</span>
  <span *ngIf="submitting">Logging in...</span>
</button>
      </div>

      <!-- Step 2: PIN -->
      <div *ngIf="step === 2">
        <input
          type="text"
          formControlName="pin"
          placeholder="Enter 6-digit PIN"
          autocomplete="off"
        />
        <div *ngIf="loginForm.get('pin')?.invalid && loginForm.get('pin')?.touched">
          <small *ngIf="loginForm.get('pin')?.errors?.['required']">PIN is required</small>
          <small *ngIf="loginForm.get('pin')?.errors?.['minlength'] || loginForm.get('pin')?.errors?.['maxlength']">
            PIN must be 6 digits
          </small>
        </div>

       <button
  type="submit"
  [disabled]="submitting || loginForm.get('pin')?.invalid">
  <span *ngIf="!submitting">Verify PIN</span>
  <span *ngIf="submitting">Verifying...</span>
</button>
      </div>

    </form>
  </div>
</div>
